<ion-header>
  <div class="HeaderWrap">
    <div class="MenuIcon"><a href="JavaScript:;" (click)="openMenu()"><img src="assets/MenuIcon.png"></a></div>
    <div class="PointsBlock">
      <span class="PointsHigh">Javanika</span> Entertainments
    </div>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
</ion-header>


<ion-content padding>
  <div class="summary-table">
    <table class="TierTbl" border="1">
      <tbody id="tbody">
        <tr>
          <td class="row-header">Total Seats</td>
          <td class="TierClass" *ngIf="seat_summary != null && seat_summary.NoOfSeats > 0">{{
            seat_summary.NoOfSeats }}
          </td>
        </tr>
        <tr>
          <td class="row-header">Total Cost</td>
          <td class="TierClass" *ngIf="seat_summary != null && seat_summary.NoOfSeats > 0">${{
            seat_summary.TotalPrice }}
          </td>
        </tr>
        <tr *ngIf="seat_summary != null && seat_summary.NoOfSeats == 0">
          <td rowspan="2" class="TierClass">No Bookings Yet
          </td>
        </tr>
        <!-- <tr>
      <td class="TierClass" *ngIf="seat_summary != null && seat_summary.NoOfSeats > 0">{{ seat_summary.NoOfSeats }}
      </td>
    </tr> -->
      </tbody>
    </table>
  </div>

  <div class="ODBlock">
    <form [formGroup]="form">
      <div class="form-content" *ngIf="!isCouponApplied">
        <div class="ODLabel">Do you have discount coupon? Please enter your coupon code below....</div>
        <div>
          <input type="text" placeholder="Add Discount Code here" class="OBDictxt" formControlName="coupon_code"
            [(ngModel)]="coupon_code">
          <div class="erroremail"
            *ngIf="form.get('coupon_code').touched && form.get('coupon_code').hasError('required')">
            Please enter coupon code
          </div>
        </div>
      </div>
      <div class="form-content" *ngIf="isCouponApplied">
        Coupon Code <strong>{{couponData.coupon_code}}</strong> has been applied.
      </div>
      <div class="form-action">
        <div *ngIf="!isCouponApplied">
          <button *ngIf="!coupon_loading" (click)="addCoupon()">Add Coupon</button>
          <div *ngIf="coupon_loading">Please wait....</div>
        </div>
        <div *ngIf="isCouponApplied">
          <button *ngIf="!coupon_loading" (click)="removeCoupon()">Remove Coupon</button>
          <div *ngIf="coupon_loading">Please wait....</div>
        </div>
      </div>
    </form>
  </div>
</ion-content>

<div class="EventFootWrap1">
  <div class="CnfBook" (click)="proceedToBooking(eventID)">Confirm Booking</div>
</div>