.EventHead
{font-size: 18px; margin: 15px 10px 0 10px; font-weight: bold;;}
.EventLabel1
{font-size: 11px; font-weight: bold; color: gray; margin: 5px 10px 0 10px;}
.EventLabel2
{font-size: 11px; font-weight: bold; color: olive; margin: 5px 10px 0 10px;}
.EventArtistWrap
{margin: 10px; text-align: center; }
.ArtistBlock
{border: 1px solid #eeeeee; width: 65px; height: 105px;float: left; margin: 5px 5px 0 0;;}
.EventDesc
{margin: 10px; height: 150px;; overflow-y: scroll; padding: 10px; font-size: 11px; text-align: justify; color: gray; border-top: 2px solid rgb(233, 0, 78);border-bottom: 2px solid rgb(233, 0, 78);;}
.Symbol
{float: left;}
.Locat
{float: left;font-size: 11px; font-weight: bold; color: gray; margin: 3px 0 0 0;}
.EvtBlock
{margin: 10px 10px 10px 10px;}
.EventFootWrap
{ position: fixed; bottom: 0; font-size: 14px; width: 100%; padding: 10px; text-align: center; background: #0088d6; color: white; font-weight: bold;;}
.EveDecHead
{font-weight: bold; margin-bottom: 10px;;}
.ArtName
{font-size: 11px; color: gray;;}

