.MenuWrapBlockSH{ background: #d3d3d3; padding: 2px 0;}
.MenuWrapBlock1SH{ background: #f1f1f1; padding: 2px 0; border-bottom:1px solid  #e0e0e0;}
.MenuIconSH
{height: 40px; width: 60px; margin: 15px 0 0 15px; float: left;}
.MenuLabelSH
{  float: left; font-family: calibri; font-size: 16px; margin: 22px 0 0 0; color: black; text-transform: uppercase; width:180px;}
.MenuArrowSH
{float: right; margin-top: 10px;;}

.FBBtn
{text-align: center; margin: 20px 0 0 0;}