.BookingHead
{width: 95%; margin: 20px auto; font-size:16px;  color: gray;border-bottom: 1px solid rgb(194, 194, 194); padding: 0 0 5px 0;;}
.ODBlock
{border: 1px solid #f7f7f7;width: 95%; box-shadow: 2px 2px 2px #d4d4d4; margin: 10px auto; background: #f7f7f7; padding: 10px; }


.OBEventName
{font-size: 16px; font-weight: bold; margin: 0 0 5px 0;}
.OBEVentDate
{font-size: 13px;;}
.OBEVentVenue
{font-size: 12px; color: gray;margin: 0 0 5px 0; }
.OBEVentTickets
{font-size: 13px; margin: 5px 0 0 0; font-weight: bold;}
.OBSpace
{border-bottom: 1px dashed orange; margin: 10px 0;}
.OBLeft
{float: left;}
.OBright
{float: right; font-weight: bold;}
.OBAmt
{font-size: 13px;   margin: 0 0 10px 0;}
.OBHigh
{color: green;;}
.OBLeft1
{float: left; font-weight: bold; margin-top: 3px;;}
.OBright1
{float: right; font-weight: bold;font-size: 18px;}
.ODLabel
{font-size: 13px; color: gray; text-align: center; margin: 10px 0;;}
.OBDictxt
{border: 1px solid #d4d4d4; width: 100%; border-radius: 3px; font-size: 16px; color: green; font-weight: bold;; padding: 5px;;;}
.EventFootWrapOD
{ text-align: center; font-weight: bold; color: white;; font-size: 14px; padding: 10px; background: rgb(0, 158, 250);}