.HomeHeadLabel
{color: crimson; width: 95%; font-size: 16px; font-weight: bold; text-align: center; margin: 20px auto; padding-bottom: 10px; border-bottom: 1px solid #dbdbdb;;}
.MBWrap
{border: 1px dashed #c9df04; width: 95%; margin: 0 auto; padding:5px; font-size: 13px; background: #f8f8f8;}
.MBName
{ font-size: 18px; font-weight: bold;;}
.MBClick
{margin: 5px 0; border-top: 1px dashed orange;color: #df046a; padding-top: 10px;;}
.MBLink
{color: #0487df; font-weight: bold;}
.MBLabel
{font-size: 14px; width: 95%; margin: 10px auto;;}
.MBInp
{margin: 5px 0;}
.MBTxt
{width: 100%; padding:5px;;}










